/* ===================== RESET ==========================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{ 
  text-decoration: none;
}

input{
  border: 0
}

ul{
  list-style:none;
}

p{
  font-family: raleway, serif;
  font-weight: 300;

}

h1{
  font-family: OpenSans, sans-serif;
  font-weight: 300;
  color: pink;
  margin-bottom: 2rem;
  font-size:4.2rem;
}

body{
  background-color:white;
  font-family: raleway, serif;
  font-weight: 300;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:whitesmoke;
  
  min-height:42rem ;
  width: 34rem;
  margin-top: 10rem ;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
}

.list-container{
display: flex;
flex-direction: column;
background-color:white;


}

.tasks-container{
  background-color:white;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

li , input {
  background-color: white;
  border-bottom: 1px solid black;
  height:4rem; 
  width: 28rem;
  padding: 0 2rem;
  font-size: 1.2rem;
  
}

span{
  color:red;
  opacity:0;
}

li:hover span{
  opacity: 1;
}
